{% extends 'bootstrap/base.html' %}

{% block title %}mf'n poetry{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="static/bootstrap.css">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">mf'n poetry</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href={{url_for('login_register')}}><span class="glyphicon glyphicon-log-in"></span></a></li>
      <li><a href={{url_for('compose')}}><span class="glyphicon glyphicon-pencil"></span></a></li>
      <li><a href={{url_for('show_categories')}}><span class="glyphicon glyphicon-sort-by-alphabet"></span></a></li>
      <li><a href={{url_for('logout')}}><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Hey!</h4>
  <p>{{ message }}
  </p></div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body_content %}
{% if session.logged_in %}
    <div class="jumbotron">
      <h1>Hey, {{ session['current_user'] }}, let's write some microflaskin' <i>poetry</i>!!</h1>
        <br /><button type="button" class="btn btn-lg"><a href={{url_for('compose')}}><span class="glyphicon glyphicon-pencil"></span>I want to write!</a></button>
    </div>
{% else %}
<div class="jumbotron">
  <h1>Well hello there!</h1>
  <p>Take a look around, read some poems, and add your own if the Muses start singin'.</p>
  <p>This is microflaskin' <i>poetry</i>
  <p><a class="btn btn-primary btn-lg" href={{url_for('login_register')}}>Login or Register</a></p>
</div>
{% endif %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Post #</th>
      <th>Poem</th>
      <th>Poet</th>
    </tr>
  </thead>
  <tbody>
  {% for post in self.posts %}
    <tr>
      <td>[{{ post.title }}]</td>
      <td>[{{ post.author }}]</td>
    </tr>
  {% else %}
  <tr>
      <td>1</td>
      <td>There's nothing here.</td>
      <td>You better get to writing!</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Seriously, log in</td>
      <td>and fix this!</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </p>
  </div>
{% endblock %}
</div>
{% endblock %}