{% extends 'base.html' %}

{% block title %}
contribute a poem – {{super()}}
{% endblock %}
{% block navbar %}
{{super()}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">contribute a poem</li>
</ul>
{% endblock %}
{% block body_content %}
<div class="container">
<h3>Make the world a more beautiful place
<br>Let's make some microflaskin' <i>poetry</i>!!</h3>
<br />
</div>
    {% if user %}
        Hey, {{ user }}, let your creative juices flow below:<br />
        Then the form goes here.
    {% else %}
    <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hold your horses, non-conformist</h3>
  </div>
  <div class="panel-body">
    You can't be a microflaskin' poet without a microflaskin' username and
    password. Come on!<br />
    Why don't you go <a href={{url_for('login_register')}}>login or register</a> now, and then come back and write your poem.
    <p><br />Quick, before the Muse deserts you for a better writer who's better looking!</p>
  </div>
</div>

{% endif %}
{% endblock %}
