{% extends 'base.html' %}

{% block title %}
contribute a poem – {{super()}}
{% endblock %}
{% block navbar %}
{{super()}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">contribute a poem</li>
</ul>
{% endblock %}
{% block body_content %}
<div class="container">
<h3>Make the world a more beautiful place
<br>Let's make some microflaskin' <i>poetry</i>!!</h3>
<br />
    {% if session.logged_in %}
        Hey, {{ session['current_user'] }}, let your creative juices flow below:<br />
        <form method="POST" id="newpost">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"><br />
    <input type="text" name="title" placeholder="Title" maxlength="255" /><br />
    <textarea form="newpost" name="body" placeholder="Body"></textarea><br />
    <input type="submit" name="submit" />

    {% else %}
    <div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hold your horses, non-conformist</h3>
  </div>
  <div class="panel-body">
    You can't be a microflaskin' poet without a microflaskin' username and
    password. Come on!<br />
    Why don't you go <a href={{url_for('login_register')}}>login or register</a> now, and then come back and write your poem.
    <p><br />Quick, before the Muse deserts you for a more deserving, better looking writer who <i>never</i> gets writer's block!<br />Hurry!</p>
  </div>
  </div>

{% endif %}
{% endblock %}

<!-- Here is the stuff for CSERF. I gotta do this in every form:
<form method="POST">
    ...
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
 -->