{% extends "layout.html" %}
{% block title %}Logout{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Hey now!</h4>
  <p>I actually haven't implemented a logout feature. This site is like a really lame gang. Once you're in, you're in for life.<br />
     How about <a href="/" class="alert-link">checking out the latest posts</a>?</p>
</div>
{% end block %}