{% extends "layout.html" %}
{% block title %}Create a new post{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {need an if-block here to see if they're logged in}
    {% if not logged_in %}
        <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Login Required!</h4>
        <p>To make a post you must first <a href="/login" class="alert-link">log in</a> or <a href="/register" class="alert-link">register and log in</a>.</p>
        </div>
    {% if logged_in %}
    <h1>Index</h1>
    <p class="text-primary">Please compose your post below. All fields are required.</p>
{% endblock %}