{% extends 'base.html' %}

{% block title %}
register – {{super()}}{% endblock %}
{% block navbar %}
{{super()}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">register</li>
</ul>
{% endblock %}
{% block body_content %}
<h1>A new poet? That's great…but have you thought about a career in banking?</h1><br />
<h3>Seriously. Or maybe as a hunter gatherer? Both make more money.</h3><br />
<form>
<form method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="text" class="form-control" name="username" placeholder="username"/><br />
    <input type="password" class="form-control" name="password" placeholder="password" /><br />
    <input type="email" class="form-control" name="email" placeholder="email" /><br />
    <input type="submit" class="btn btn-primary" value="become a Registered Poet™"/>
<form>
{% endblock %}