{% extends 'base.html' %}

{% block title %}
login/register – {{super()}}
{% endblock %}
{% block navbar %}
{{super()}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">login/register</li>
</ul>
{% endblock %}
{% block body_content %}
<h3>let's get you into your account, 朋友.</h3>
<br />
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
  <li class=""><a href="#register" data-toggle="tab">Register</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="login">
<form class="form-horizontal">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </fieldset>
</form>
  </div>
  <div class="tab-pane fade" id="register">
<form class="form-horizontal">
  <fieldset>
    <legend>Get yourself a microflaskin' login! All fields are required.</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>  </div>
</div>
{% endblock %}
