{% extends 'base.html' %}

{% block title %}
login – {{super()}}
{% endblock %}
{% block navbar %}
{{super()}}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">login</li>
</ul>
{% endblock %}
{% block body_content %}
<h3>Not a Registered Poet™? No worries, just <a href={{url_for('register_user')}}>register</a>!
<br />
<p>
<form method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="text" class="form-control" name="username" placeholder="username" /><br />
    <input type="password" class="form-control" name="password" placeholder="password" /><br />
    <input type="submit" class="btn btn-primary" value="Log In"/>
</form>


{% endblock %}